---
import ProjectCard from "./ProjectCard.astro";
import ProjectList from "./project-list";
import HomeSection from "../../layouts/HomeSection.astro";

---

<HomeSection title="Projects" icon="ph-kanban">
  <div class="projects__container">
    {
      ProjectList.map(({ image, title, repository, demo, technologies }) => (
          <ProjectCard
            {image}
            {title}
            {repository}
            {demo}
            {technologies}
          />
      ))
    }
  </div>
</HomeSection>

<style>
  .projects__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3.4rem 1.4rem;
    /* margin-top: 5rem; */
  }

</style>
