---
import ProjectCard from "./ProjectCard.astro";
import ProjectList from "./project-list";
import HomeSection from "../../layouts/HomeSection.astro";
import MainProjectCard from "./MainProjectCard.astro";

---

<HomeSection title="Projects" icon="ph-kanban">
  <div class="main-projects__container">
    {
      ProjectList.slice(0,2).map(({ image, title, repository, demo, technologies }) => (
        <MainProjectCard
          image={image}
          title={title}
          description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl vel tincidunt lacinia, nisl nisl aliquet nisl, eget aliquet nisl nisl sit amet lorem. Sed euismod, nisl vel tincidunt lacinia, nisl nisl aliquet nisl, eget aliquet nisl nisl sit amet lorem."
          repository={repository}
          demo={demo}
          technologies={technologies}
        />
      ))
    }
  </div>

  <h3>Other Projects</h3>

  <div class="projects__container">
    {
      ProjectList.slice(2).map(({ image, title, repository, demo, technologies }) => (
        <ProjectCard
          image={image}
          title={title}
          repository={repository}
          demo={demo}
          technologies={technologies}
        />
      ))
    }
  </div>
</HomeSection>

<style>
  .main-projects__container {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    margin-bottom: 10rem;
  }

  h3 {
    margin-bottom: 2.6rem;
    font-size: 2.2rem;
    text-align: center;
  }

  .projects__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3.4rem 1.4rem;
  }

</style>
