---
import MainProject from './main-projects.astro'
import MoreProjects from './more-projects.astro'

import { projects } from "../../constants/projects";

import { getI18N } from '../../i18n';
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale });

---

<section class="mt-20" id="projects">
  <h3 class="flex items-center gap-2 mb-4 uppercase font-bold text-3xl">
    <i class="ph:suitcase-simple"></i>
    {i18n.TITLES.PROJECTS}
  </h3>

  <div class="flex flex-col gap-10 mt-10">
    {
      projects.slice(0,2).map((el) => (
        <MainProject
          title={el.title}
          description={el.description!}
          technologies={el.technologies}
          demo={el.demo}
          repository={el.repository}
          image={el.image}
        />
      ))
    }
  </div>

  <div class="mt-10">
    <MoreProjects
      projects={projects.slice(2)}
    />
  </div>
</section>